<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
           http://www.springframework.org/schema/context  
           http://www.springframework.org/schema/context/spring-context-3.2.xsd  
           http://www.springframework.org/schema/aop  
           http://www.springframework.org/schema/aop/spring-aop-3.2.xsd  
           http://www.springframework.org/schema/task 
           http://www.springframework.org/schema/task/spring-task-3.2.xsd">
	<!-- 
	<context:annotation-config />
	<context:component-scan base-package="test" />-->
	<!-- 
	<task:scheduler id="myScheduler" pool-size="10"/>
	<task:scheduled-tasks scheduler="myScheduler">
		<task:scheduled ref="application_processor" method="test" cron="0 0/2 * * * *"/>
	    <task:scheduled ref="task_lotteryTask" method="doTask" cron="0 30 23 * * *"/>
	    <task:scheduled ref="task_keepOnlineTask" method="doTask" cron="0 0/15 * * * *"/>
	</task:scheduled-tasks>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"  destroy-method="close">  
		<property name="driverClassName" value="${jdbc.driver}" />  
		<property name="url" value="${jdbc.url}" />  
		<property name="username" value="${jdbc.username}" />  
		<property name="password" value="${jdbc.password}" />  
    </bean> 
	-->
	<context:annotation-config />
	<context:component-scan base-package="cn.org.hbca.project" />
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"  destroy-method="close">  
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />  
		<property name="url" value="jdbc:mysql://localhost:3306/hbcatestdb?useUnicode=true&amp;characterEncoding=UTF8" />  
		<property name="username" value="root" />  
		<property name="password" value="CCH" />
    </bean> 
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesPackage" value="cn.org.hbca.project.model" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
  		<property name="basePackage" value="cn.org.hbca.project.dao" />
	</bean>
</beans>